<div class='jumbotron center'>
	<h1>Welcome to Create School</h1>
	<p>
		<%= link_to 'Login', 'https://app.lunchboxschool.com/?route=/users/users', class: 'btn btn-default btn-lg' %>
		<%= link_to 'Sign Up', 'https://app.lunchboxschool.com/?route=/users/users&m=signup', class: 'btn btn-primary btn-lg' %></p>
</div>